# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node
node_modules/
dist/
.DS_Store

# Databases
*.db
*.sqlite3

# Uploads (don't commit test data)
uploads/

# Temp/logs/db helper files
*.db-shm
*.db-wal
*.log

